body {
    background: linear-gradient(to right, #74ebd5, #9face6);
    font-family: Arial, sans-serif;
}

.weather-app {
    width: 350px;
    margin: 100px auto;
    padding: 20px;
    background: rgb(143, 133, 133);
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

input {
    padding: 10px;
    width: 80%;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    background: #2196F3;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.result p {
    font-size: 16px;
}
